body /*default body setup*/
{
    background-color:white;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
#profile /*main avatar img on front page*/
{
    display: block;
    margin-left: auto; /*center img vertivaly*/
    margin-right: auto; /*center img horizontal*/
    border-radius: 50%; /*cirkle around img effect*/
    /*vv img size vv*/
    width: 250px; 
    height: 250px;
}
h1 /*Title*/
{
    height: 50px;
    background-color: white;
    font-family: Georgia;
    text-align: center;
}
#balance /*balance setup with grid between text and balance*/
{
    display: grid;
    align-content: center;
    word-spacing: -2px;
    text-align: center;
}
.container /*grid setup*/
{
    display: grid;
    background-color: darkgrey;
    margin: 0;
    grid-template-columns: repeat(3, minmax(0px, 1fr));
    grid-template-rows: repeat(3, minmax(0px, 1fr));
}
.item /*items container*/
{
    padding: 20px 15px; 
    border: 2px solid rgb(116, 116, 116); /*grid border for better visual separation*/
    text-align: center; /*text center lignment (mainly used for .item_price + .item_text)*/
}
.item_text /*item name/text*/
{
    font-family: Verdana;
    font-weight: bold;
}
.item_price /*item price*/
{
    font-size: 125%;
    color: rgb(30, 115, 30);
}
.item_img /*img placement*/
{
    display: block;
    margin-left: auto; /*center img vertivaly*/
    margin-right: auto; /*center img horizontal*/
    padding: 15px 0px; /*padding above and under the img*/
    height: 120px; /*height for img*/
    max-width: 100%; /*max width for img*/
}
.action /*action grid*/
{
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    gap: 10px;
    
}
.buy /*buy button*/
{
    background-color: lightgreen;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button /* Remove arrows from input label*/
{
    text-align: center; /*center number *dosen't work**/
    -webkit-appearance: none; /* Remove arrows from input label*/
    margin: 0; 
}
.sell /*sell button*/
{
    background-color: rgb(250, 95, 95);
}


/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  /* Popup arrow */
  .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  .popup .hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
 